@use "@/styles/variables.scss" as *;

.container {
  padding: $spacing-8;
  min-width: $min-app-width;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.firstRow {
  display: flex;
  gap: 20px;
  height: 408px;

  .leftCard {
    width: calc(100% * 1163 / 1596);
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;

    .statsGrid {
      margin-top: 16px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 17px;
    }

    .chartContainer {
      flex: 1;
      margin-top: 20px;
    }
  }

  .rightCard {
    width: calc(100% * 433 / 1596);
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;

    .emptyChartWrapper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.secondRow {
  display: flex;
  gap: 20px;
  height: 411px;

  .cardOne {
    width: calc(100% * 433 / 1576);
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;

    .satisfactionScore {
      margin-top: 30px;
      height: 58px;
      display: flex;
      align-items: flex-end;
      gap: 4px;

      .scoreValue {
        font-weight: $font-weight-bold;
        font-size: $display-large-size;
        line-height: $display-large-line-height;
        letter-spacing: -1%;
        color: $color-text-primary;
      }

      .scoreMax {
        font-weight: $font-weight-semibold;
        font-size: 18px;
        line-height: 200%;
        color: $gray-500;
      }
    }

    .tagContainer {
      margin-top: 12px;
      display: flex;
      gap: 8px;

      .tag {
        height: $spacing-7;
        padding: 4px 8px;
        border: 1px solid $border;
        border-radius: 8px;
        font-weight: $font-weight-regular;
        font-size: 13px;
        line-height: 150%;
        color: $color-text-secondary;
        display: flex;
        align-items: center;
        white-space: nowrap;
      }
    }

    .progressBarWrapper {
      margin-top: 44px;
    }
  }

  .cardTwo {
    width: calc(100% * 526 / 1576);
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;

    .emptyChartWrapper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .cardThree {
    width: calc(100% * 617 / 1576);
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;

    .emptyChartWrapper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.thirdRow {
  display: flex;
  // height: 553px;

  .fullWidthCard {
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    min-height: 0;

    .cardHeaderWrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .emptyChartWrapper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .paginationWrapper {
      display: flex;
      justify-content: center;
      margin-top: auto;
      padding-top: $spacing-7;
    }
  }
}

.chartContent {
  flex: 1;
  margin-top: 20px;
}
