@use "@/styles/variables.scss" as *;

.toast {
  position: fixed;
  top: 32px;
  left: 50%;
  transform: translateX(-50%) translateY(-100px);
  width: 384px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px #00000012;
  z-index: 9999;
  opacity: 0;
  transition: all 0.4s ease-in-out;

  &:not(.toast--hidden) {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }

  &--success {
    background-color: #effaf3;
    border: 1px solid #2f6c46;
    color: #2f6c46;
  }

  &--error {
    background-color: #fff8f8;
    border: 1px solid rgba(234, 29, 29, 1);
    color: rgba(234, 29, 29, 1);
  }

  &--warning {
    background-color: $white;
    border: 1px solid $warning;
    color: $warning;
  }

  &--info {
    background-color: $white;
    border: 1px solid $primary;
    color: $primary;
  }
}

.toast__content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.toast__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 20px;
}

.toast__message {
  font-weight: 400;
  font-size: 13px;
  line-height: 145%;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
