@use "@/styles/variables.scss" as *;

.container {
  flex: 1;
  padding: $spacing-8;
  min-width: $min-app-width;
}

.content {
  margin-top: 20px;
}

.card {
  width: 100%;
  // height: 800px;
  padding: 24px;
  background-color: $white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.filterWrapper {
  margin-top: 24px;
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
}

.filterReset {
  margin-left: 16px;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 28px;
}
