@use "@/styles/variables.scss" as *;

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-50;
}

.wrapper {
  width: 384px;
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}

.resetSection {
  background-color: $white;
  border-radius: $border-radius-lg;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  margin-bottom: 36px;
}

.title {
  font-family: $font-family-primary;
  font-size: $heading-h4-size;
  font-weight: $heading-h4-weight;
  line-height: $heading-h4-line-height;
  letter-spacing: $heading-h4-letter-spacing;
  text-align: center;
  color: $black;
  margin: 0;
}

.description {
  font-family: $font-family-primary;
  font-size: $body-14-r-size;
  font-weight: $body-14-r-weight;
  line-height: $body-14-r-line-height;
  letter-spacing: $body-14-r-letter-spacing;
  text-align: center;
  color: $gray-600;
  margin: 0;
}

.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttonWrapper {
  padding-top: 28px;
}
