@use "@/styles/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.labelWrapper {
  display: flex;
}

.labelContent {
  display: flex;
  align-items: center;
  gap: 8px;

  &.clickable {
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.label {
  font-weight: $font-weight-semibold;
  font-size: 14px;
  line-height: 150%;
  color: $color-text-primary;
  @include text-ellipsis;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid $border-light;
  border-radius: $border-radius-lg;
  background-color: $white;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.organizationName {
  font-weight: $font-weight-semibold;
  font-size: 15px;
  line-height: 140%;
  color: $color-text-primary;
  @include text-ellipsis;
}

.scoreWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.score {
  font-weight: $font-weight-bold;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -1%;
  color: $color-text-primary;
  @include text-ellipsis;
}

.diff {
  font-weight: $font-weight-regular;
  font-size: 15px;
  line-height: 140%;
  text-align: right;

  &.up {
    color: $error;
  }

  &.down {
    color: $color-trend-up;
  }
}

.divider {
  height: 1px;
  background-color: $border-light;
  margin: 20px 0;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detailRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}

.detailLabel {
  font-weight: $font-weight-regular;
  font-size: 15px;
  line-height: 140%;
  color: $color-text-tertiary;
  @include text-ellipsis;
}

.detailValue {
  font-weight: $font-weight-regular;
  font-size: 15px;
  line-height: 140%;
  color: $color-text-primary;
  @include text-ellipsis;
}
