@use "@/styles/variables.scss" as *;

.statCard {
  width: 100%;
  min-width: 0;
  height: 105px;
  padding: 20px;
  border: 1px solid $border-light;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  .label {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: $color-text-tertiary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .value {
    font-size: 28px;
    font-weight: 700;
    line-height: 110%;
    color: $color-text-primary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .alert {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
