@use "@/styles/variables.scss" as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &.layoutRight {
    flex-direction: row;
    gap: 60px;
  }

  &.layoutBottom {
    flex-direction: column;
    gap: 28px;
  }
}

.chartWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.chart {
  transform: rotate(0deg);
}

.percentageText {
  font-size: 11px;
  font-weight: $font-weight-regular;
  line-height: 140%;
  pointer-events: none;
  opacity: 0;

  &.fadeIn {
    animation: fadeIn 0.5s ease forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: $spacing-2;
}

.legendDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  flex-shrink: 0;
}

.legendContent {
  display: flex;
  align-items: center;
  gap: 4px;
}

.legendLabel {
  font-size: 14px;
  font-weight: $font-weight-semibold;
  line-height: 150%;
  color: $color-text-secondary;
  @include text-ellipsis;
}

.legendDetails {
  font-size: 14px;
  font-weight: $font-weight-regular;
  line-height: 150%;
  color: $color-text-tertiary;
  @include text-ellipsis;
}
