@use "@/styles/variables.scss" as *;

.emptyChartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 16px;
}

.animation {
  width: 36px;
  height: 36px;
}

.message {
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  text-align: center;
  color: #666666;
}
