@use "sass:color";
@use "../../styles/variables.scss" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 51px;
  border: none;
  border-radius: $border-radius-base;
  font-family: $font-family-primary;
  font-size: $button-15-sb-size;
  font-weight: $button-15-sb-weight;
  line-height: $button-15-sb-line-height;
  text-align: center;
  cursor: pointer;
  transition: background-color $transition-base;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.primary {
  background-color: $primary;
  color: $white;

  &:hover:not(:disabled) {
    background-color: $primary-hover;
  }

  &:disabled {
    background-color: $gray-300;
  }
}

.secondary {
  background-color: $secondary;
  color: $gray-800;

  &:hover:not(:disabled) {
    background-color: color.adjust($secondary, $lightness: -5%);
  }
}

.outline {
  background-color: transparent;
  border: 1px solid $border;
  color: $gray-800;

  &:hover:not(:disabled) {
    background-color: $gray-50;
  }
}

.small {
  height: 36px;
  font-size: $body-13-r-size;
}

.medium {
  height: 45px;
  font-size: $body-14-r-size;
}

.large {
  height: 51px;
  font-size: $button-15-sb-size;
}

.custom {
  width: auto;
  height: auto;
  padding: 0 20px;
  background-color: $primary;
  color: $white;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  white-space: nowrap;

  &:hover:not(:disabled) {
    background-color: $primary-hover;
  }

  &:disabled {
    background-color: $gray-300;
  }
}

.download {
  height: 34px;
  padding: 0 20px;
  background-color: $primary;
  color: $white;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  white-space: nowrap;

  &:hover:not(:disabled) {
    background-color: $primary-hover;
  }

  &:disabled {
    background-color: $gray-300;
  }
}
