@use "@/styles/variables.scss" as *;

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.arrowButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &:not(:disabled):hover {
    opacity: 0.7;
  }
}

.pages {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: #9d9d9d;
  border-radius: 4px;
  transition: all 0.2s;

  &:hover:not(.active) {
    opacity: 0.7;
  }

  &.active {
    background-color: $border-light;
    color: $color-text-secondary;
  }
}
