.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  width: 100%;
  height: 45px;
  padding: 0 $spacing-4;
  border: 1px solid $border;
  border-radius: $border-radius-base;
  font-family: $font-family-primary;
  font-size: $body-14-r-size;
  font-weight: $body-14-r-weight;
  line-height: $body-14-r-line-height;
  color: $black;
  background-color: $white;
  transition: all $transition-base;

  &::placeholder {
    color: $gray-300;
    font-size: $body-14-r-size;
    font-weight: $body-14-r-weight;
    line-height: $body-14-r-line-height;
  }

  &:focus {
    outline: none;
    border-color: $primary;
  }

  &:disabled {
    background-color: $gray-100;
    color: $gray-600;
    cursor: not-allowed;
  }

  &.error {
    border-color: $error;
  }
}

.errorMessage {
  font-family: $font-family-primary;
  font-size: $caption-12-r-size;
  font-weight: $caption-12-r-weight;
  line-height: $caption-12-r-line-height;
  color: $error;
  min-height: 18px;
}
