@use "@/styles/variables.scss" as *;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.legend {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.legendBox {
  width: 12px;
  height: 12px;
  border-radius: 3px;

  &.first {
    background-color: #2f6c46;
  }

  &.second {
    background-color: #70b78b;
  }
}

.legendText {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: $gray-600;
}

.chart {
  flex: 1;
  width: 100%;
  min-height: 0;
}
