@use "@/styles/variables.scss" as *;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.unit {
  font-weight: 400;
  font-size: 11px;
  line-height: 140%;
  text-align: right;
  color: #a3a3a3;
}

.chart {
  flex: 1;
  width: 100%;
  min-height: 0;
  cursor: default !important;

  canvas {
    cursor: default !important;
  }
}
