@use "@/styles/variables.scss" as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $gray-50;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.container {
  width: 378px;
  height: 238px;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.animationWrapper {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  width: 100%;
  height: 100%;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.text {
  font-weight: 700;
  font-size: 18px;
  line-height: 25.09px;
  color: $color-text-primary;
  margin: 0;
}

.subText {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.52px;
  color: $gray-600;
  margin: 0;
}
