@use "@/styles/variables.scss" as *;

.container {
  flex: 1;
  padding: $spacing-8;
  min-width: $min-app-width;
}

.content {
  margin-top: 20px;
}

.card {
  width: 100%;
  // height: 800px;
  padding: 24px;
  background-color: $white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.filterWrapper {
  margin-top: 24px;
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
}

.filterReset {
  margin-left: 16px;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 28px;
}

.detailCounter {
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  color: #2f6c46;
  margin-bottom: 4px;
  flex-shrink: 0;
  @include text-ellipsis;
}

.detailList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}

.detailPlaceholder {
  padding: 32px 0;
  text-align: center;
  font-size: 13px;
  line-height: 150%;
  color: #9d9d9d;
}

.detailItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 6px 16px 0;
  border-bottom: 1px solid #d1d5db;

  &:last-child {
    border-bottom: none;
  }
}

.detailLeft {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.detailTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  color: #333333;
  @include text-ellipsis;
}

.detailDate {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: #9d9d9d;
  @include text-ellipsis;
}

.detailRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.detailAmount {
  font-size: 15px;
  font-weight: 600;
  line-height: 140%;
  color: #333333;
  @include text-ellipsis;
}

.detailPayment {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  text-align: right;
  color: #9d9d9d;
  @include text-ellipsis;
}
