@use "@/styles/variables.scss" as *;

.container {
  flex: 1;
  padding: $spacing-8;
  min-width: $min-app-width;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-5;
  margin-top: $spacing-5;
}

.subValue {
  font-family: $font-family-primary;
  font-size: $num-body-14-sb-size;
  font-weight: $font-weight-semibold;
  line-height: $num-body-14-sb-line-height;
  letter-spacing: $num-body-14-sb-letter-spacing;
  color: $gray-600;
  @include text-ellipsis;
}

.subValuePrimary {
  font-family: $font-family-primary;
  font-size: $num-body-14-sb-size;
  font-weight: $font-weight-semibold;
  line-height: $num-body-14-sb-line-height;
  letter-spacing: $num-body-14-sb-letter-spacing;
  color: $color-text-tertiary;
  @include text-ellipsis;
}

.section {
  margin-top: $spacing-10;
}

.sectionTitle {
  font-family: $font-family-primary;
  font-size: $heading-h5-size;
  font-weight: $heading-h5-weight;
  line-height: $heading-h5-line-height;
  letter-spacing: $heading-h5-letter-spacing;
  color: $black;
  @include text-ellipsis;
}

.sectionContent {
  display: flex;
  gap: 20px;
  margin-top: $spacing-5;
  height: 331px;

  > * {
    flex: 1;
  }
}

.sectionContentUsage {
  display: flex;
  gap: 20px;
  margin-top: $spacing-5;
  height: 352px;

  > * {
    flex: 1;
  }
}

.lineChartCard {
  width: 50%;
  padding: 20px 24px;
  background-color: $white;
  border-radius: $border-radius-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-5;
}

.riskDepartmentCard {
  width: 50%;
  padding: 20px 24px;
  background-color: $white;
  border-radius: $border-radius-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-5;
}

.tableContent {
  flex: 1;
}

.solutionUsageCard {
  width: 50%;
  padding: 20px 24px;
  background-color: $white;
  border-radius: $border-radius-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-5;
}

.settlementCard {
  width: 50%;
  padding: 20px 24px;
  background-color: $white;
  border-radius: $border-radius-lg;
  display: flex;
  flex-direction: column;
  gap: $spacing-5;
}

.cardContent {
  flex: 1;
}

.settlementGrid {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-4 $spacing-3; // 세로 16px, 가로 12px
}
