@use "@/styles/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $spacing-5;
  flex: 1 1 auto;
  min-height: 0;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: $spacing-2;
}

.emptyState {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 210px;
  font-size: 13px;
  font-weight: $font-weight-regular;
  line-height: 130%;
  color: #333333;
  text-align: center;
}
