@use "@/styles/variables.scss" as *;

.text,
.tagWrapper,
.trendWrapper,
.changeWrapper,
.indicatorWrapper {
  min-width: 0;

  &.align-left {
    justify-content: flex-start;
  }

  &.align-center {
    justify-content: center;
  }

  &.align-right {
    justify-content: flex-end;
  }
}

.text {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: $black;
  @include text-ellipsis;
}

.tagWrapper,
.trendWrapper,
.changeWrapper,
.indicatorWrapper {
  width: 100%;
  display: flex;
}

// 태그
.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: 16px;
  font-size: 11px;
  font-weight: 400;
  line-height: 140%;
  flex-shrink: 0;
  padding: 0 $spacing-2-5;
  @include text-ellipsis;

  &.tag-danger {
    background-color: #ffeded;
    color: #dc2626;
  }

  &.tag-warning {
    background-color: #fff5d7;
    color: #f59e0b;
  }

  &.tag-success {
    background-color: #deffea;
    color: $green;
  }

  &.tag-normal {
    background-color: $gray-100;
    color: $gray-600;
  }

  &.tag-active {
    background-color: $primary-light;
    color: $primary;
  }

  &.tag-inactive {
    background-color: $gray-50;
    color: $color-text-secondary;
  }
}

// 등락
.trend {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  &.trend-up {
    color: $color-trend-down;
  }

  &.trend-down {
    color: $color-trend-up;
  }
}

// 전월 대비 등락
.change {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  white-space: nowrap;
}

// 주의지표
.indicator {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: $black;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  flex-shrink: 0;
}

.indicatorText {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: $black;
  @include text-ellipsis;
}
