@use "@/styles/variables.scss" as *;

.container {
  padding: $spacing-8;
  min-width: $min-app-width;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.firstRow {
  display: flex;
  gap: 20px;
  height: 451px;

  .leftCard {
    width: calc(100% * 867 / 1596);
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;

    .statsGrid {
      margin-top: 16px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 17px;
    }

    .chartContainer {
      flex: 1;
      margin-top: 20px;
    }
  }

  .rightCard {
    width: calc(100% * 729 / 1596);
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    min-height: 0;

    .cardHeaderWrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .paginationWrapper {
      display: flex;
      justify-content: center;
      margin-top: auto;
      padding-top: 28px;
    }

    .emptyChartWrapper {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.secondRow {
  display: flex;
  // height: 360px;

  .fullWidthCard {
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    min-height: 0;

    .cardHeaderWrapper {
      margin-bottom: 20px;
    }

    .paginationWrapper {
      display: flex;
      justify-content: center;
      margin-top: auto;
      padding-top: 28px;
    }
  }
}
